body {
	background-image: url('file:///home/marko/Pictures/calc.jpg');
	background-size: 100%;
}

#box{
float:left;
height: 147px;
width: 30%;
background-color: white;
padding: 6px;
}
#process{
	padding: 8px;
	height: 100px;
	width: 97%; 
	background:rgba(255,255,255, 0.5);

	
}

#result{
	height:20px;
	width:100%;
	border-radius: 4px;
	background-color: #ffffff;
}

.drop {
	margin:1%;
}

.input  {
	margin:1%; 
}

button {
	margin: 2%;
}

body {
	background-color: #D1D1E0;
}
#prebivaliste {
	font-style: Times;

}
input {
	border-radius: 4px;
}
select {
	border-radius: 4px;
}
button  {
	border-radius: 4px;
}