body {
	background-image: url('calc.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}


#box{
	
	height: 100%;
	width: 100% ;
	background-color: #E6E6E6;
	padding: 6px;
}

@media all and (max-width: 10000px) and (min-width: 500px) {
#box {
    width: 20%;
    height: 100%;
  }
}


#process{
	padding: 8px;
	margin-top: 8%;
	height: auto;
	width: 95%; 
	width:auto;
	background:rgba(255,255,255, 0.5);	
}

#result{
	height:20px;
	width:80%;
	width:auto;
	border-radius: 4px;
	background-color: #E6E6E6;
	padding: 2%;
	margin:2%;
}

.step{
	background:rgba(255,255,255, 0.5);
}

.drop {
	margin: 4%;
	padding: 2%;
}

.input {
	margin:2%; 
	padding: 2%;
}

a {
	margin:2%; 
	padding: 2%;
}

#calc {
	margin: 4%;
	padding: 2%;
}

body {
	background-color: #D1D1E0;
}
#prebivaliste {
	font-style: Times;

}
input {
	border-radius: 4px;
	padding: 2%;
}
select {
	border-radius: 4px;
	padding: 2%;
}
button  {
	border-radius: 4px;
	padding: 2%;
}